@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@300;400;500;600&display=swap');

:root {
  --min-width: 1390px;
  --bg-side-header: #3e3e3e;
  --bg-color: #888888;
  --bg-list: #3e3e3e;
  --title-icon-width: 1.5rem;
  --header-icon-width: 2.2rem;
  --list-width: 350px;
  --list-padding: 20px;
  --header-height: 100px;
  --reg-font: 'Source Code Pro', monospace;
  --font-col: whitesmoke;
  --title-font: 'Press Start 2P', monospace;

  font-family: 'Source Code Pro', monospace;
  color: whitesmoke;
}

body {
  margin: 0;
  width: max(100%, fit-content);
}

h2, h3, h4, h5, h6 {
  margin: 0px;
}

.content {
  width: max(100%, fit-content);
  height: 100vh;
}

.content-container {
  display: grid;
  grid-template-columns: minmax(300px, 0.25fr) 1fr;
  height: 100%;
  width: auto;
  min-width: 1390px;
}


/* ------------ SIDEBAR VIEW ------------ */
.sidebar {
  background: var(--bg-side-header);
  border-right: 2px solid white;
}

.sidebar-title {
  font-family: var(--title-font);
  font-size: large;
}

.sidebar-container {
  display: grid;
  gap: 30px;
  padding: 30px;
  margin-top: 30px;
}

.projects-sidebar {
  display: grid;
  gap: 20px;
}

.sb-button-container {
  display: grid;
  align-content: center;
  /* justify-content: center; */
  width: 100%;
}

.sb-add-button {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 12px;
  color: var(--font-col);
  background: var(--bg-side-header);
  border: 3px solid var(--font-col);
  padding: 1.4em 2.4em;
  border-radius: 16px;
}

.sb-button:hover {
  color: var(--bg-side-header);
  background-color: var(--font-col);
  border: 3px solid var(--bg-side-header);
}

/* ------------ PROJECT VIEW ------------ */
.project-view {
  width: 100%;
  background-color: var(--bg-color);
}

.project-header {
  display: grid;
  grid-template-columns: 1fr 200px;
  align-content: center;
  border-bottom: 2px solid white;
  background: var(--bg-side-header);
  height: var(--header-height);
  /* width: 100%; */
}

.header-title {
  font-family: var(--title-font);
  font-size: larger;
  display: grid;
  align-content: center;
  padding-left: 2em;
}

.project-header img {
  filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(94deg) brightness(110%) contrast(105%);
  width: var(--header-icon-width);
}

.header-icon-container {
  display: grid;
  grid-template-columns: repeat(3, var(--header-icon-width));
  align-content: center;
  gap: 20px;
  width: fit-content;
}

.project-container {
  display: grid;
  /* grid-template-columns: minmax(repeat(2, var(--list-width)), repeat(4, (--list-width))); */
  grid-template-columns: repeat(3, var(--list-width));
  padding: var(--list-padding);
}

#empty {
  font-family: var(--title-font);
  font-size: larger;
  grid-template-columns: auto;
  /* width: fit-content; */
}

.list-container {
  display: grid;
  gap: 10px;
  /* width: var(--list-width); */
  background-color: var(--bg-list);
  padding: 25px 30px;
  border-radius: 20px;
  
  border: 2px solid white;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;


  /* border: 1px solid blue; */
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  gap: 10px;
}

.title-container img {
  width: var(--title-icon-width);
  height: var(--title-icon-width);
  filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(94deg) brightness(110%) contrast(105%);
}

.list-title {
  margin: 0;
}

.todo-container {
  display: grid;
  gap: 10px;
  /* border: 1px solid green; */
}

.todo {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.todo-name {
  width: 70%;
  height: fit-content;
  border: 1px solid blue;
}

.todo-countdown {
  width: fit-content;
  border: 1px solid green;
  margin: 0;
  font-size: 0.8em;
}

.todo .icon-container {
  /* border: 1px solid green; */
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 10px;
}

.todo img {
  width: calc(var(--title-icon-width) * 0.8);
  height: calc(var(--title-icon-width) * 0.8);
  filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(94deg) brightness(110%) contrast(105%);
}

.form-background {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  width: max(100%, var(--min-width));
  height: 100%;
  background: #3e3e3e6e;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: #3e3e3e;
  padding: 100px;
  border: var(--font-col) solid 2px;
  border-radius: 20px;
}

.form-div {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px;
}

#todo-name {
  width: 80px;
}

#todo-priority {
  width: 90px;
}

.form-button-div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.edit-form-btn {
  padding: 0.4em 1em;
  border-radius: 0.6em;
}

#countdown {
  font-size: 0.8em;
  font-weight: 700;
  grid-column: 2;
  margin: 0px;
}